.title{
     font-size:50px;
     color:pink;
 }
 
 .University{
     font-size:20px;
     color:#2F4F4F;
     background: url(${icon1}) no-repeat;
     float:left; 
     width: 900px
     
 }
 
 .content{
     font-size:20px;
     color:#2F4F4F;
     background: url(${icon2}) no-repeat;
     line-height: 30px;
     float:left; 
     width: 900px
 }
 
 .list{
     font-size:15px;
     color:#2F4F4F;
     line-height: 20px;
 } 
 .position_date{
     font-size:20px;
     color:#006400;
     font-weight:bold;
     line-height: 40px;
     float:right; 
 }
 